body {
  font-family: 'Roboto', sans-serif;
}
header {
    background-color: #1a5d1a;

  }

  .card-body {
    background-color: #83bd75;
    color: white;
  }
  .carousel-item img {
    opacity: 0.6;
  }
  
  .card img {
    height: 500%;
  }

  .card-text {
    font-size: 15px;
    margin-top: 3%;
  }

  .card-body h3 {
    font-size: 20px;
  }

  .whatsapp-button {
    display: inline-block;
    background-color: #25d366;
    color: #ffffff;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    width: 150px;
  }

  .whatsapp-button:hover {
    background-color: #128c7e;
  }

  .fasilitasjudul {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 50px;
  }

 .fasilitasjudul h1 {
    font-size: 45px;
    text-align: center;
    color: #333333;
  }

  .fasilitasjudul p {
    text-align: center;
    line-height: 1.6;
    color: #666666;
  }
