header {
    background-color: #1a5d1a;

  }
  .nav-link {
    color: white;
  }

  .card-body {
    background-color: #83bd75;
    color: white;
  }
  .carousel-item img {
    opacity: 0.6;
  }
  
  .card img {
    height: 500%;
  }

  .card-text {
    font-size: 15px;
    margin-top: 3%;
  }

  .card-body h3 {
    font-size: 20px;
  }