{% extends 'base.html' %}
{% block head %}
  {% block admin_head %}
    
  {% endblock %}
{% endblock %}
{% block body %}
<div class="d-flex flex-row" style="height: 100%">
    <div class="bg-light" style="height: 100%; min-height: 1000px">
      <div
        class="d-flex flex-column flex-shrink-0 p-3 bg-light h-100"
        style="width: 280px"
      >
        <a
          href="/"
          class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none"
        >
          <svg class="bi me-2" width="40" height="32">
            <use xlink:href="#bootstrap"></use>
          </svg>
          <span class="fs-4">Menu</span>
        </a>
        <hr />
        <ul class="nav nav-pills flex-column mb-auto">
          <li class="nav-item">
            <a
              href="/admin/fasilitas"
              class="nav-link link-dark"
              aria-current="page"
              id="menu_fasilitas"
            >
              <svg class="bi me-2" width="16" height="16">
                <use xlink:href="#home"></use>
              </svg>
              Fasilitas
            </a>
          </li>
          <li>
            <a href="/admin/produk" id="menu_produk" class="nav-link active ">
              <svg class="bi me-2" width="16" height="16">
                <use xlink:href="#speedometer2"></use>
              </svg>
              Produk
            </a>
          </li>
        </ul>
      </div>
    </div>
  
    {% block admin_body %}
        
    {% endblock %}
</div>
{% endblock %}

{% block script %}
    {% block admin_script %}
        
    {% endblock %}
{% endblock %}