<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Emerald Garden</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
  </head>
  <body>
   
    <section
      class="align-middle w-100"
      style="
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
      "
    >
      <div class="container d-flex flex-column">
        <div class="col-xl-6 col-md-9 mx-auto">
          <div class="card rounded">
            <div class="card-body">
              <div class="container mt-4 px-5 py-3">

                <h3><center>Login</center></h2><br/>
                <div class="tab-content" id="pills-tabContent">
                  <div
                    class="tab-pane fade show active"
                    id="pills-home"
                    role="tabpanel"
                    aria-labelledby="pills-home-tab"
                  >
  
                      <div class="form-group mb-3">
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Username"
                          id="input_user"
                        />
                      </div>
                      <div class="form-group mb-3">
                        <input
                          type="password"
                          class="form-control"
                          placeholder="Password"
                          id="input_pass"
                        />
                      </div>
                      <button
                        type="submit"
                        onclick="sign_in()"
                        class="btn text-white mx-auto d-block px-4"
                        style="background-color: green"
                      >
                        Masuk Sebagai Admin
                      </button>
           
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <script>
     
      function sign_in() {
        let username = $("#input_user").val();
        let password = $("#input_pass").val();
    
        if (username === "") {
          $("#help-user-login").text("Please input your username.");
          $("#input_user").focus();
          return;
        } else {
          $("#help-user-login").text("");
        }
    
        if (password === "") {
          $("#help-password").text("Please input your password.");
          $("#input_pass").focus();
          return;
        } else {
          $("#help-password-login").text("");
        }
        $.ajax({
          type: "POST",
          url: "/sign_in",
          data: {
            username_give: username,
            password_give: password,
          },
          success: function (response) {
            if (response["result"] === "success") {
              $.cookie("my_token", response["token"], { path: "/" });
              swal("Success","Login successful!", "success");
    
              window.location.replace("/admin/fasilitas");
            } else {
              swal("Failed",response["msg"], "error");
    
            }
          },
        });
      }
    </script>
  </body>
</html>
