{% extends 'base.html' %} {% block body %}

<style>
  .container-pict {
    margin-top: 8%;
  }
</style>

<h1 class="display-3 text-center" style="margin-top: 3%">Tipe 36</h1>
<br />
<div class="container-pict text-center my-4">
  <img
    class="img-fluid"
    src="/static/img/tipe36.jpg"
    alt="Tipe 36"
    style="width: 85%; height: auto"
  />
</div>

<section class="my-5 py-5">
  <div class="row">
    <div class="col-lg-6 text-center">
      <h2><b>Denah Tipe 36</b></h2>
      <br />
      <img
        class="img-fluid mx-auto"
        src="/static/img/denahtipe36.jpg"
        alt="Denah Tipe 36"
        style="width: 50%; height: auto"
      />
    </div>
    <div class="col-lg-6 my-4">
      <h2><b>Spesifikasi Bangunan</b></h2>
      <br />
      <p class="mb-0">
        Pondasi : Footplat <br />
        Dinding : Bata Diplester Finishing Cat <br />
        Rangka Atap : Galvalum <br />
        Penutup Atap : Genteng Beton <br />
        Plafon : Eternit <br />
        Kusen : Beton Finishing Cat <br />
        Pintu : Pintu Depan Panil, Lainnya Double Triplek <br />
        Daun Jendela : Kayu Finishing Cat <br />
        Lantai : Keramik 40x40 <br />
        Dinding KM : Keramik <br />
        Carport : Rabat Beton <br />
        Listrik : 1300 KwH <br />
        Air : PDAM <br />
        Bonus : Taman <br />
      </p>
    </div>
  </div>
</section>

{% endblock %} {% block scriptjs %} {% endblock %}
