{% extends 'base.html' %} {% block body %}

<style>
  .container-pict {
    margin-top: 8%;
  }
</style>


<h1 class="display-3 text-center my-4">Tipe 60</h1>
  <div class="container-pict text-center my-4">
    <img class="img-fluid" src="/static/img/tipe30.jpg" alt="Your Image Alt Text" style="width: 85%; height: auto;" />
  </div>


<section class="my-5 py-5">
    <div class="row">
      <div class="col-lg-6 text-center">
        <h2>Denah Tipe 60</h2>
        <img class="img-fluid mx-auto" src="/static/img/denahtipe30.jpg" alt="Your Image Alt Text" style="width: 50%; height: auto;" />
      </div>
      <div class="col-lg-6 my-4">
        <h2>Spesifikasi Bangunan</h2>
        <p class="mb-0">
          Pondasi      : Footplat <br>
          Dinding      : Bata Diplester Finishing Cat <br>
          Rangka Atap  : Galvalum <br>
          Penutup Atap : Genteng Beton <br> 
          Plafon       : Eternit <br>
          Kusen        : Beton Finishing Cat <br> 
          Pintu        : Pintu Depan Panil, Lainnya Double Triplek <br>
          Daun Jendela : Kayu Finishing Cat <br>
          Lantai       : Keramik 30x30 <br>
          Closet       : Jongkok <br>
          Carport      : Rabat Beton <br>
          Listrik      : 1300 KwH <br>
          Air          : PDAM <br>
          Bonus        : Taman <br>
        </p>
      </div>
    </div>

</section>



  <!-- Start Preview Fasilitas -->
  <div class="album py-5 bg-body-tertiary">
    <h1><center>Fasilitas</center></h1>
    <br />
    <div class="container">
      <div class="row" id="daftar-fasilitas">
        <div class="col">
          <div class="card shadow-sm">
            <svg
              class="bd-placeholder-img card-img-top"
              width="100%"
              height="225"
              xmlns="http://www.w3.org/2000/svg"
              role="img"
              aria-label="Placeholder: Thumbnail"
              preserveAspectRatio="xMidYMid slice"
              focusable="false"
            >
              <title>Placeholder</title>
              <rect width="100%" height="100%" fill="#55595c"></rect>
              <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
            </svg>
            <div class="col">
              <div class="card-body">
                <b>Jenis Fasilitas</b><br />
                <p class="card-text">
                  This is a wider card with supporting text below as a natural
                  lead-in to additional content. This content is a little bit
                  longer.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <svg
              class="bd-placeholder-img card-img-top"
              width="100%"
              height="225"
              xmlns="http://www.w3.org/2000/svg"
              role="img"
              aria-label="Placeholder: Thumbnail"
              preserveAspectRatio="xMidYMid slice"
              focusable="false"
            >
              <title>Placeholder</title>
              <rect width="100%" height="100%" fill="#55595c"></rect>
              <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
            </svg>
            <div class="col">
              <div class="card-body">
                <b>Jenis Fasilitas</b><br />
                <p class="card-text">
                  This is a wider card with supporting text below as a natural
                  lead-in to additional content. This content is a little bit
                  longer.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <svg
              class="bd-placeholder-img card-img-top"
              width="100%"
              height="225"
              xmlns="http://www.w3.org/2000/svg"
              role="img"
              aria-label="Placeholder: Thumbnail"
              preserveAspectRatio="xMidYMid slice"
              focusable="false"
            >
              <title>Placeholder</title>
              <rect width="100%" height="100%" fill="#55595c"></rect>
              <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
            </svg>
            <div class="col">
              <div class="card-body">
                <b>Jenis Fasilitas</b><br />
                <p class="card-text">
                  This is a wider card with supporting text below as a natural
                  lead-in to additional content. This content is a little bit
                  longer.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <svg
              class="bd-placeholder-img card-img-top"
              width="100%"
              height="225"
              xmlns="http://www.w3.org/2000/svg"
              role="img"
              aria-label="Placeholder: Thumbnail"
              preserveAspectRatio="xMidYMid slice"
              focusable="false"
            >
              <title>Placeholder</title>
              <rect width="100%" height="100%" fill="#55595c"></rect>
              <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
            </svg>
            <div class="col">
              <div class="card-body">
                <b>Jenis Fasilitas</b><br />
                <p class="card-text">
                  This is a wider card with supporting text below as a natural
                  lead-in to additional content. This content is a little bit
                  longer.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--  End Preview Fasilitas -->
  
</section>
{% endblock %}
{% block scriptjs %}
<script src="../static/assets/js/fasilitas.js"></script>
<script>
  $(document).ready(function () {
    // Ganti id_produk dengan nilai yang sesuai atau ambil dari suatu sumber
    tampilkanFasilitas();
  });
</script>
{% endblock %}
